<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.backend.mapper.IOperationMapper">

    <select id="getAll">
        select * from operation
    </select>

    <select id="getById">
        select * from operation where id = (#{id})
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation(sector_id,date,amount,fee,description,email,state,type) VALUES(#{sectorId},#{timestamp},#{amount},#{fee},#{description},#{email},#{state},#{type});
    </insert>

    <update id="update" keyProperty="entity.id" useGeneratedKeys="true" parameterType="com.practice.backend.model.Operation">
        UPDATE operation
        SET sector_id = #{entity.sectorId},
            date = #{entity.timestamp},
            amount = #{entity.amount},
            fee = #{entity.fee},
            description = #{entity.description},
            email = #{entity.email},
            state = #{entity.state},
            type = #{entity.type}
        WHERE id = #{updatedId};
    </update>

    <delete id="delete">
        delete from operation where id = #{id}
    </delete>
</mapper>