<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.backend.mapper.ISectorMapper">

    <select id="getAll">
        select * from sector
    </select>

    <select id="getById">
        select * from sector where id = (#{id})
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sector(name,active,signcode,checkIp,allowedIps) VALUES(#{name},#{active},#{signcode},#{checkIp},#{allowedIps});
    </insert>

    <update id="update" keyProperty="entity.id" useGeneratedKeys="true" parameterType="com.practice.backend.model.Sector">
        UPDATE sector
        SET name = #{entity.name},
            active = #{entity.active},
            signCode = #{entity.signCode},
            checkIp = #{entity.checkIp},
            allowedIps = #{entity.allowedIps}
        WHERE id = #{updatedId};
    </update>

    <delete id="delete">
        delete from sector where id = #{id}
    </delete>

</mapper>